@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-md-6">
        <h2>Jokes Application</h2>
        <ul>
            <li>Simple Jokes Application using ASP.NET Core MVC</li>
            <li>Theming using <a href="https://go.microsoft.com/fwlink/?LinkID=398939">Bootstrap</a></li>
            <li>Using SQL Server + JQuery for the database</li>
            <li>Styling using CSS</li>


        </ul>
    </div>
</div>
